<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bookingapi1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bookingapi1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BookingApi1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BookingApi1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookingApiContext" Order="1" Enabled="False">
          <Destination Path="Data Source=bookingapi1.database.windows.net;Initial Catalog=BookingApi1DB;Persist Security Info=True;User ID=david;Password=Vintergatan-154" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BookingApi.Models.BookingApiContext, BookingApi" MigrationConfiguration="BookingApi.Migrations.Configuration, BookingApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookingApiContext-Web.config Connection String">
      <ParameterValue>Data Source=bookingapi1.database.windows.net;Initial Catalog=BookingApi1DB;Persist Security Info=True;User ID=david;Password=Vintergatan-154</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>